{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block nav %}
{% if user.is_authenticated %}<h1>Welcome {{user}}</h1>
{% endif %}
{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="run-container">
    <img src="{% static 'images/TP-White.png' %}" alt="Text reads: Track Pulse Logo - no text" />
</section>

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}

{% endblock %}