* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
}

.header-logo-container img {
    height: 70px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav li a:hover {
    background-color: #0056b3;
    color: #28a745;
}

nav li a:active,
nav li a:focus {
    background-color: #004080;
    color: #ffffff;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.page-header img {
    max-width: 150px;
    height: auto;
}


button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
    color: #28a745;
}

button:active {
    background-color: #003366;
}

a.btn.submit {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

a.btn.submit:hover {
    background-color: #0056b3;
    color: #28a745;
}

a.btn.submit:active {
    background-color: #003366;
}

a.btn.warning {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

a.btn.warning:hover {
    background-color: #ff9100;
    color: #ffffff;
}

a.btn.warning:active {
    background-color: #003366;
}

a.btn.delete {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

a.btn.delete:hover {
    background-color: hsla(0, 85%, 46%, 0.824);
    color: #ffffff;
}

a.btn.delete:active {
    background-color: #003366;
}

button.btn.delete {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button.btn.delete:hover {
    background-color: hsla(0, 85%, 46%, 0.824);
    color: #ffffff;
}

button.btn.delete:active {
    background-color: #003366;
}

nav li form {
    display: inline-flex;
    align-items: center;
}

#logout-form button {
    all: unset;
    cursor: pointer;
    padding: 0px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: inline-block;
}

#logout-form button:hover {
    background-color: #0056b3;
    color: #28a745;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        width: 100%;
    }

    nav li+li {
        margin-top: 10px;
    }
}