{% extends 'base.html' %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/runs/run-index.css' %}" />
{% endblock %}

{% block nav %}<h1>My Runs</h1>{% endblock %}

{% block content %}
<section class="page-header">
  <section class="card-container">
    {% for run in runs %}
    <a href="{% url 'run-detail' run.id %}" class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img src="{% static 'images/Card-Logo.png' %}" alt="Running" />
        </div>
        <h1 class="card-title">{{ run.name }}</h1>
        <h2>Run distance (km): {{ run.distance }}</h2>
        <h2>Run Time: {{ run.time }}</h2>
        <p>{{ run.notes }}</p>
        <h6>{{run.date}}</h6>
      </div>
    </a>
    </div>
    {% endfor %}
  </section>
</section>


{% endblock %}